*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


.container {

  width: 90%;
  margin:auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.menu-inline {
  list-style: none;
padding: 0 100px;
}


.menu-inline li {
  display: inline-block;


}
.menu-inline li a{
  text-decoration: none;
  color: #A9A9A9;
}


.header-top {

  line-height: 70px;
  padding: 0 160px;
  background-color: #F0FFFF;
  border-bottom: 1px solid black;
  }

.header-top-nav-left {
  float: left;
  width: 50%;
}


.header-top-nav-right {
  float: left;
  width: 50%;
  text-align: right;


}


.header-top li {
  margin: 0 10px;
}
.logo{
  padding-left: 100px;
}
.logo-row{
padding-top:20px;
  height:200px;

}

.logo-row li{
  margin: 0 10px;
}

.btn {

  border-radius: 5px;
  color: #fff;
  padding: 8px 10px;
  min-width: 100px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.btn-orange {
  background-color: #FF7F50;
}
.btn-border-orange {
  border: 1px solid #FF7F50;
  color: #FF7F50;
  background-color: #fff;

}
.btn-big {
  padding: 20px;
  margin: 25px 0;
}
/* banner */
.banner {
  position: relative;
  height: 800px;
  background-image: url(img/jumbotron.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #FFF8EC;

}
.banner-text {
  position: absolute;
  bottom: 25%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  color: #fff;
  padding-left: 10%;

}
.banner-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: black;
}
.banner-text p{
  color: black;
margin-top: 25px 0;

}
.barra{
  height: 80px;
  width:100%;
  position: absolute;
  bottom:0;
  background-color: #AFEBE4;
  border-top: 5px solid black;
  border-bottom: 5px solid black;


}

/* learn */
.wrap{
  width:100%;
  background-color: #F0FFFF;
}
.learn{
position: relative;
height:500px;
background-color: #F0FFFF;
}

.learn-text{
  text-align: center;
  padding: 50px 0;
}

.learn-text h1{
  padding-bottom: 30px;
}
.learn-text p{
padding: 10px
}
.cubi{
  height: 300px;
  width:350px;
}

.box1{
  background-color: #F0FFFF;


}
.box2{
  height: 250px;
  background-color: white;
  border: 1px solid green;
  margin: 0 300px;
  padding: 40px;
}
.box2-nav-left{
  float: left;
  width: 20%;
}
.box2-nav-right{
  float: left;
  width: 80%;
}

#crm-logo{
  height:100px;
  width:100px;
}
.crm-text li{
  padding-top: 20px;
  margin-right: 10px;
}
.fa-check-circle{
color: orange
}

.box-left li{
  list-style: none;
}
.box-center li{
  list-style: none;
}
.box-right li{
  list-style: none;
}
.box-left{
  float: left;
  height:500px;
  width:25%;
  background-color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px;
  text-align: center;
  margin: 20px 30px;
}
.box-left img{
  height:100px;
  width:100px;
}
.box-center img{
  height: 100px;
  width: 100px;
}
.box-right img{
  height: 100px;
  width: 100px;
}

.box-center{
  float: left;
  height:500px;
  width:25%;
  background-color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px;
  margin: 10px 10px;
  text-align: center;
  margin: 20px 30px;

}

.box-right{
  float: left;
  height:500px;
  width:25%;
  background-color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px;
  margin: 10px 10px;
  text-align: center;
  margin: 20px 30px;

}

.learn-grow{
  height: 800px;
  background-color: #7FFFD4;
}
.div-header{
  text-align: center;
}
.row1{
  width:100%;

}
.row2{
  width:100%
}
.item{
  height:100px;
  float: left;
  height:200px;
  width:200px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 60px;
}
