*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.container {

  width: 90%;
  margin:auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.menu-inline {
  list-style: none;


}
.menu-inline li {
  display: inline-block;


}
.header-top {
  height: 70px;
  line-height: 70px;
  width:90%
}

.header-top-nav-left {
  float: left;
  width: 50%;

}
.header-top-nav-right {
  float: left;
  width: 50%;
  text-align: right;


}

.header-top li {
  margin: 0 10px;
}
.logo-row{
  height:200px;
}
/* banner */
.banner {
  position: relative;
  height: 800px;
  width: 90%;
  background-image: url(img/jumbotron.png);

}
.banner-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  color: #fff;
}
.banner-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: red;
}
