*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


.container {

  width: 90%;
  margin:auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.menu-inline {
  list-style: none;
}


.menu-inline li {
  display: inline-block;

}
.menu-inline li a{
  text-decoration: none;
}


.header-top {
  height: 70px;
  line-height: 70px;
  width:90%;
  background-color: lightblue;
  }

.header-top-nav-left {
  float: left;
  width: 50%;

}
.header-top-nav-right {
  float: left;
  width: 50%;
  text-align: right;

}


.header-top li {
  margin: 0 10px;
}
.logo-row{
  height:200px;

}

.logo-row li{
  margin: 0 10px;
}

.btn {

  border-radius: 5px;
  color: #fff;
  padding: 8px 10px;
  min-width: 100px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.btn-orange {
  background-color: #FF7F50;
}
.btn-border-orange {
  border: 1px solid #FF7F50;
  color: #FF7F50;
  background-color: #fff;

}
.btn-big {
  padding: 20px;
}
/* banner */
.banner {
  position: relative;
  height: 800px;
  width: 90%;
  background-image: url(img/jumbotron.png);

}
.banner-text {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  color: #fff;
  padding-left: 10%;

}
.banner-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: red;
}
.banner-text p{
  color: black;
}
.learn{
  height: 800px;

}
